streamlit==1.47.0
pandas==2.3.1
numpy==2.3.2
plotly==6.2.0
prophet==1.1.7
beautifulsoup4==4.13.4
requests==2.32.4
trafilatura==2.0.0
streamlit-autorefresh==1.0.1
pytz==2025.2
holidays==0.76
newspaper3k==0.2.8
chardet==5.2.0
pillow==10.4.0
selenium==4.34.2
webdriver-manager==4.0.2
openai
yfinance==0.2.64